@charset "UTF-8";
@font-face {
    font-family: 'Savu-Condensed';
    src: url('../font/2A3C3A_0_0.eot');
    src: url('../font/2A3C3A_0_0.eot?#iefix') format('embedded-opentype'),url('../font/2A3C3A_0_0.woff') format('woff'),url('../font/2A3C3A_0_0.ttf') format('truetype');}


